/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN STYLING BELOW */
body{
  background-color: #66a3ff;
  height: auto;
}

/*MOBILE VIEW*/
.recipe-container{
  height: 28vh;
  width: 96%;
  display: flex;
  margin: 2% 2%;
  background-color: #cdf1c3;
}

@media(min-width: 480px) {
  .recipe-container{
    display: none;
  }
}

#first-container{margin-top: 10px;}
#last-container{margin-bottom: 10px;}

.colA{
  flex-basis:35%;
  border: solid 1px black;
  display:flex;
  flex-direction:column;
}
.photo{
  flex-basis:75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo > img{
  height: 85%;
  width: 85%;
  border: solid 2px #4d88ff;
/*	height:100px;
	width:100px;*/
}
.favorite{
  flex-basis:25%;
  display:flex;
  justify-content: center;
  align-items: center;
}
.favorite > button{
	background: none;
  outline: none;
  border: none;
}
.colB{
  flex-basis:65%;
  border:solid 1px black;
  border-left:solid 0px;
  display:flex;
  flex-direction:column;
}
.title{
  flex-basis:25%;
  text-align: center;
  font-size: 20px;
  padding-top:10px;
  border-bottom: solid black 1px;
  color: #000;
}
.desc{
  flex-basis:50%;
  padding:10px;
  font-size:14px;
  line-height: 1.2em;
}
.button{
  flex-basis: 20%;
  padding: 10px;
  text-align: center;
  color: #000;
}

/*----------------DESKTOP VIEW------------------*/
.grid-container{
  min-height: 100vh;
  margin: 1% 8%;
  display: grid;
  grid-gap: 10px; /*column and row*/
  grid-template-columns: auto auto auto auto;
}

.grid-item{
  background-color: #cdf1c3;
  height: 250px;
  border: solid 1px #000;
  padding: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

@media(max-width: 480px) {
  .grid-container{
    display: none;
  }
}

@media(min-width: 480px){
  .grid-container{
    grid-template-columns: auto auto;
  }
}

@media(min-width: 768px) {
  .grid-container{
    grid-template-columns: auto auto auto;
    clear: both; /*delete once nav bar problem solved*/
  }
}

@media(min-width: 900px) {
  .grid-container{
    grid-template-columns: auto auto auto auto;
    clear: both; /*delete once nav bar problem solved*/
  }
  .grid-item{
    height: 300px;
  }
}

.desktop-photo{
  background-color: #fff;
  width: 100%;
  border: solid black 1px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 55%;
}

/*BREAKFAST PHOTOS*/
#breakfast-potatoes{background-image: url("../images/breakfast-potatoes.jpg");}
#avocado-toast{background-image: url("../images/avocado-toast.jpg");}
#fried-eggs{background-image: url("../images/fried-eggs.jpg");}
#scrambled-eggs{background-image: url("../images/scrambled-eggs.jpg");}
#french-toast{background-image: url("../images/french-toast.jpg");}
#fruit-smoothie{background-image: url("../images/fruit-smoothie.jpg");}
#recipe-7{background-image: url("");}
#recipe-8{background-image: url("");}
/*APPETIZER PHOTOS*/
#garlic-bread{background-image: url("../images/appetizers/garlicBread.jpeg");}
#caesar-salad{background-image: url("../images/appetizers/caesar-salad.jpg");}
#buff-dip{background-image: url("../images/appetizers/buff-dip.jpeg");}
#quesadillas{background-image: url("../images/appetizers/quesadillas.jpg");}
#bacon-wrapped-scallops{background-image: url("../images/appetizers/bacon-wrapped-scallops.jpg");}
#mussels{background-image: url("../images/appetizers/mussels.jpg");}
#crab-rangoon{background-image: url("../images/appetizers/crab-rangoon.jpg")}
#honey-rst-almonds{background-image: url("../images/appetizers/honey-rst-almonds.jpg")}
/*ENTREE PHOTOS*/
#buffalo-chicken-pizza{background-image: url("../images/entrees/buffalo-chicken-pizza.jpg")}
#chx-cutlets{background-image: url("../images/entrees/chx-cutlets.jpg");}
#meatloaf{background-image: url("../images/entrees/meatloaf.jpg");}
#salmon{background-image: url("../images/entrees/salmon.jpg")}
#spaghetti-and-meatballs{background-image: url("../images/entrees/spaghetti-and-meatballs.jpg");}
#taboullet-salad{background-image: url("../images/entrees/taboullet-salad.jpg")}

.recipe-content{
  position: relative; /*allows heart to be in corner*/
  flex-basis: 45%;
}

h2{
  font-size: 20px;
  padding: 5px 0;
  color: #000;
  text-decoration: underline;
}

p{
  color: #000;
}

.heart-desktop{
  position: absolute;
  right: 0;
  bottom: 0;
}

.heart-desktop > button{
  border: none;
  background: none;
  text-decoration: none;
  outline: none;
}

footer{
  display: flex;
  height: 100px;
  width: 100%;
  background: #808080;
}

#socialMedia{
  margin: auto;
  color: #fff;
}
